*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Futura", "Hirago KakuGothic Pro", sans-serif;
}
.loader-wrap {
	position: fixed;
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #fff;
}
.loader,
.loader:before,
.loader:after {
	background: #FF6928;
	-webkit-animation: load1 1s infinite ease-in-out;
	animation: load1 1s infinite ease-in-out;
	width: 1em;
  height: 4em;
  z-index: 10;
}
.loader {
	color: #FF6928;
	text-indent: -9999em;
	margin: 88px auto;
	position: relative;
	font-size: 11px;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.loader:before,
.loader:after {
	position: absolute;
	top: 0;
	content: '';
}
.loader:before {
	left: -1.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loader:after {
	left: 1.5em;
}
@-webkit-keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}
@keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
  	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}

p{
  text-align: justify;
}
nav{
  background: #FF6928;
}
nav a{
  font-size: 1.7rem;
}
.first-view p{
  width: 64%;
  margin: 0 auto;
}

/* Twitter停止項目に関して */
.emergency p{
  width: 64%;
  margin: 0 auto;
  color: rgb(255,0,0);
}




.empty h1{
  color: #fff0;
}

/* Swiper */
.swiper-container {
    width: 100%;
    height: auto;
    background: #000;
}
/* schedule */
.schedule{
  background: #FF692855;
}

/* event */
.pos-match{
  width: auto;
  margin:0 auto;
  overflow: hidden;
  position: relative;
}
#hoge{
  width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: -1;
    background-color: #FF6928aa;
}
.pos-center{
  display: block;
  margin: 0 auto;
}
.card{
  background: #fff;
  width: 90%;
  display: block;
  margin: 0 auto;
}
.card p{
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 130px;
}
.btn-gradient-3d {
  display: inline-block;
  margin: 0 auto;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(45deg, #FFC107dd 0%, #FF6928dd 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #c58668;
}
.btn-gradient-3d:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

/* modal */
.modal-title{
  font-size: 1.7rem;
}
.modal-body img{
  height: auto;
}

/* sns */
.sns a{
  font-size: 3rem;
}
.fa-instagram{
  color: #e7043b;
  background: -webkit-linear-gradient(45deg, #e7043b, #4a0cc1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-twitter{
  color: #00aced;
}
.fa-line{
  color: #00b900;
}

/* フローティングボタン */
.floating {
  position: fixed;
  right: 1rem;
  bottom: 0.5rem;
  display: none;
  z-index: 20;
}
.floating a {
  display: block;
  font-size: 3rem;
  color: #111;
  padding: 1rem;
  text-decoration: none;
  opacity: 0.8;
  z-index: 20;
}
.floating a:hover {
  color: #111;
  opacity: 1;
  z-index: 20;
}

/* メディアクエリ モバイルファースト */
@media screen and (min-width:576px){
nav span{
  font-size: 1.3rem;
}
.first-view p{
  font-size: 23px;
}
.card p{
  font-size: 20px;
}
}

@media (min-width:768px){
h1{
  font-size: 4rem!important;
}
nav span{
  font-size: 2.0rem;
}
.first-view p{
  font-size: 30px;
}
.schedule h3{
  font-size: 20px;
}
.card p{
  font-size: 16px;
}
}

@media (min-width:992px){
nav span{
  font-size: 2.5rem;
}
nav a{
  font-size: 2.0rem;
}
.first-view p{
  font-size: 38px;
}
.schedule h3{
  font-size: 45px;
}
.card p{
  font-size: 18px;
}
}

@media (min-width:1200px){
.first-view p{
  font-size: 40px;
}
.schedule h3{
  font-size: 55px;
}
.card p{
  font-size: 14px;
}
}
